<table class="table table-striped">
    <thead>
        <tr>
            <th>Station</th>
            <th>Artist</th>
            <th>Title</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
    {{#each lastSongs}}
        <tr>
            <td>{{station}}</td>
            <td>{{artist}}</td>
            <td>{{title}}</td>
            <td class="date">{{date}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>