<table class="table table-striped">
    <thead>
        <tr>
            <th>Station</th>
            <th class="text-right">Songs</th>
            <th class="text-right">Unique songs</th>
            <th class="text-right">Percentage</th>
        </tr>
    </thead>
    <tbody>
    {{#each stats}}
        <tr>
            <td>{{station}}</td>
            <td class="text-right">{{all}}</td>
            <td class="text-right">{{unique}}</td>
            <td class="text-right">{{percentage unique all}}%</td>
        </tr>
    {{/each}}
    </tbody>
    <tfoot>
        <tr>
            <th>Totals</th>
            <th class="text-right">{{totals.all}}</th>
            <th class="text-right">{{totals.unique}}</th>
            <th class="text-right">{{percentage totals.unique totals.all}}%</th>
        </tr>
    </tfoot>
</table>